@import './theme.scss';

.common-layout {
  width: 100%;
  .el-header {
    height: 74px;
    padding: 0 24px;
    background-color: $mainColor;
  }
  .el-aside {
    // max-width: 240px;
    // background-color: rgb(217, 236, 255);
  }
  .el-main {
    min-height: calc(100vh - 74px);
    background-color: #ffffff;
  }
}